<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    {% comment %} <meta name="theme-color" content="#000000" media="(prefers-color-scheme: light)"> {% endcomment %}
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{ content_for_header }}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
  </head>
  <body class="bg-[#FAFAFC]">
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    <script src="{{ 'navbar.js' | asset_url }}" defer></script>
  </body>
</html>
