<!doctype html>
<html class="scroll-smooth">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{ content_for_header }}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <script>
let resizeTimer;

window.addEventListener("resize", () => {

  document.body.classList.add("resize-animation-stopper");

  clearTimeout(resizeTimer);

  resizeTimer = setTimeout(() => {
    document.body.classList.remove("resize-animation-stopper");
  }, 400);

});
</script>
  <body class="">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {% section 'header' %}
    
    <main class="mt-12">
      {% if request.path contains '/policies/' %}
        <section class="w-full p-8 font-inter">
          <div class="prose max-w-none w-full tracking-tight">
            {{ content_for_layout }}
          </div>
        </section>
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>

    {% section 'footer' %}

    {% render 'cart-drawer' %}
    {% render 'variation-drawer' %}
  </body>
</html>
