<footer class="bg-black text-white font-inter">
  <div class="px-8 md:pt-[5rem] md:pb-[9rem] py-7">
    <div class="grid md:grid-cols-5 grid-cols-1 md:items-start items-center gap-8">
      <div class="lg:w-1/5 flex md:justify-start justify-center">
        <a href="{{ routes.root_url }}">
          {% if settings.logo != blank %}
            <img
              src="{{ settings.logo | image_url: width: 600 }}"
              alt="{{ shop.name }}"
              class="h-14 w-20 object-cover"
              height=""
              width=""
            >
          {% else %}
            <h5 class="md:text-lg lg:text-xl font-bold">
              {{ shop.name | upcase }}
            </h5>
          {% endif %}
        </a>
      </div>
      <div class="flex flex-col md:items-start items-center gap-6">
        {% if section.settings.menu_1 != blank %}
          <h6 class="uppercase text-sm font-semibold">
            {{ linklists[section.settings.menu_1].title }}
          </h6>
          <ul class="flex flex-col gap-1.5 uppercase text-xs">
            {% for link in linklists[section.settings.menu_1].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% elsif request.design_mode %}
          <h6 class="uppercase text-sm font-semibold">Menu</h6>
          <p class="text-xs text-gray-400 italic">Select a menu</p>
        {% endif %}
      </div>
      <div class="flex flex-col md:items-start items-center gap-6">
        {% if section.settings.menu_2 != blank %}
          <h6 class="uppercase text-sm font-semibold">
            {{ linklists[section.settings.menu_2].title }}
          </h6>
          <ul class="flex flex-col gap-1.5 uppercase text-xs">
            {% for link in linklists[section.settings.menu_2].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
{% else %}     
       <h6 class="uppercase text-sm font-semibold">Menu</h6>
          <p class="text-xs text-gray-400 italic">Select a menu</p>
        {% endif %}
      </div>
      <div class="flex flex-col md:items-start items-center gap-6">
        {% if section.settings.menu_3 != blank %}
          <h6 class="uppercase text-sm font-semibold">
            {{ linklists[section.settings.menu_3].title }}
          </h6>
          <ul class="flex flex-col gap-1.5 uppercase text-xs">
            {% for link in linklists[section.settings.menu_3].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
{% else %}          <h6 class="uppercase text-sm font-semibold">Menu</h6>
          <p class="text-xs text-gray-400 italic">Select a menu</p>
        {% endif %}
      </div>
      <div class="flex flex-col md:items-start items-center gap-6">
        {% if section.settings.menu_4 != blank %}
          <h6 class="uppercase text-sm font-semibold">
            {{ linklists[section.settings.menu_4].title }}
          </h6>
          <ul class="flex flex-col gap-1.5 uppercase text-xs">
            {% for link in linklists[section.settings.menu_4].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
{% else %}          <h6 class="uppercase text-sm font-semibold">Menu</h6>
          <p class="text-xs text-gray-400 italic">Select a menu</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="md:border-t border-[#363636] tracking-tighter">
    <div class="px-6 pt-4 pb-6 flex flex-col lg:flex-row justify-between items-center gap-2 text-[#444444]">
      <span class="uppercase text-xs md:order-1 order-2">
        {{ section.settings.footer_left }}
      </span>
      <span class="uppercase text-xs font-bold md:font-normal md:order-2 order-1">
        {{ section.settings.footer_center }}
      </span>
      <span class="uppercase text-xs order-3">
        {{ section.settings.footer_right }}
        {{ 'now' | date: '%Y' }}
      </span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Footer Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Footer Menu 2"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "Footer Menu 3"
    },
    {
      "type": "link_list",
      "id": "menu_4",
      "label": "Footer Menu 4"
    },
    {
      "type": "text",
      "id": "footer_left",
      "label": "Footer Left Text",
      "default": "Powered by Tradefronts"
    },
    {
      "type": "text",
      "id": "footer_center",
      "label": "Footer Center Text",
      "default": "Gennici Global"
    },
    {
      "type": "text",
      "id": "footer_right",
      "label": "Footer Right Text",
      "default": "All Rights Reserved."
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
