<div id="product-details" class="lg:w-4/6 md:w-11/12 mx-auto px-8 py-12 bg-pink-600">
  {% comment %} <div class="w-full   gap-10"> {% endcomment %}
  {% comment %} <div class="w-5/6 mx-auto px-8 py-12 bg-slate-500"> {% endcomment %}

  <h5
    style="
      font-size: {{ section.settings.header_size }}px;
      letter-spacing: {{ section.settings.header_letter_spacing }}px;
    "
    class="tracking-widest md:text-3xl text-lg font-semibold uppercase text-center mb-10"
  >
    {{ section.settings.header_text }}
  </h5>

  <div
    style="
      grid-template-columns: repeat({{ section.settings.grid_layout }}, minmax(0,1fr));
      gap: {{ section.settings.grid_gap }}px;
    "
    class="w-full grid  text-xs"
  >
    {% for field in product.metafields.custom %}
      {% if field != blank %}
        <div class="space-y-2 text-slate-900 ">
          <h5
            style="
              font-size: {{ section.settings.label_size }}px;
              letter-spacing: {{ section.settings.label_letter_spacing }}px;
              margin-bottom: {{ section.settings.label_value_gap }}px;
            "
            class="uppercase  font-bold"
          >
            {{ field.first | replace: '_', ' ' }}
          </h5>
          <span class="block">{{ field.last | newline_to_br }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% assign product_category = product.category %}
  {% if product_category != blank %}
    <div
      style="
        grid-template-columns: repeat({{ section.settings.grid_layout }}, minmax(0,1fr));
        gap: {{ section.settings.grid_gap }}px;
      "
      class="w-full grid  text-xs mt-5"
    >
      <!-- Category Name -->
      {% comment %}
        <div class="space-y-2 text-slate-900">
          <h5 class="uppercase tracking-widest font-bold">Category</h5>
          <span class="block">{{ product_category.name }}</span>
        </div>
      {% endcomment %}

      {% comment %} {% for metafield in product.metafields.shopify %}
        {% assign mf = metafield[1] %}
        {% if mf != blank %}
          <div class="space-y-2 text-slate-900 break-all">
            <h5
               style="
              font-size: {{ section.settings.label_size }}px;
              letter-spacing: {{ section.settings.label_letter_spacing }}px;
              margin-bottom: {{ section.settings.label_value_gap }}px;
            "
              class="uppercase  font-bold">
              {{ metafield.first | replace: '-', ' ' }}
            </h5>

            {% if mf.type contains 'list.metaobject_reference' %}
              <div class="flex flex-wrap items-center gap-2">
                {% for item in mf.value %}
                  <span class=" text-xs">
                    {{ item.label }}
                  </span>
                {% endfor %}
              </div>

              {% comment %}
                {% elsif mf.type contains 'metaobject_reference' %}
                  <div class="text-[10px] leading-tight bg-gray-100 p-2 rounded overflow-x-auto">
                   {{ mf.value | json }}
                </div>

                {% else %}
                  <div class="text-[10px] leading-tight bg-gray-100 p-2 rounded overflow-x-auto">
                    {{ mf.value | json }}
                </div>
              {% endcomment %}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %} {% endcomment %}
    </div>
  {% endif %}
</div>
{% comment %} </div> {% endcomment %}

{% schema %}
{
  "name": "Product Details Grid",
  "settings": [
    {
      "type": "text",
      "id": "header_text",
      "label": "Header Text",
      "default": "Details of the Product"
    },
    {
      "type": "range",
      "id": "header_size",
      "label": "Header Font Size",
      "min": 14,
      "max": 40,
      "step": 1,
      "default": 25,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "header_letter_spacing",
      "label": "Header Letter Spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "default": 2,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "label_size",
      "label": "Label Font Size",
      "min": 10,
      "max": 20,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "label_letter_spacing",
      "label": "Label Letter Spacing",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "default": 1,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "label_value_gap",
      "label": "Gap Between Label & Value",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 6,
      "unit": "px"
    },

    {
      "type": "select",
      "id": "grid_layout",
      "label": "Grid Columns",
      "default": "3",
      "options": [
        { "value": "2", "label": "2 Columns" },
        { "value": "3", "label": "3 Columns" },
        { "value": "4", "label": "4 Columns" }
      ]
    },

    {
      "type": "range",
      "id": "grid_gap",
      "label": "Grid Gap",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 40,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Product Details Grid"
    }
  ]
}
{% endschema %}
