 <div class="" x-data="{ active: 'ingredients' }">
            <div class="border-t border-[#DADADA] md:text-sm text-xs">
              <button
                type="button"
                @click="active = active === 'ingredients' ? null : 'ingredients'"
                class="w-full tracking-tight flex justify-between items-center py-3  transition-all duration-300 font-medium"
              >
                INGREDIENTS
                <span class="transition-transform duration-300" :class="active === 'ingredients' ? 'rotate-180' : ''">
                  <img src="{{ 'downArrow-icon.svg' | asset_url }}" alt="Add" width="10" height="10">
                </span>
              </button>
              {% assign ingredients = product.metafields.coffee.ingredients.value %}
              <div
                x-ref="ingredients"
                class="overflow-hidden transition-all duration-500 ease-in-out"
                :style="active === 'ingredients' ? 'max-height:' + $refs.ingredients.scrollHeight + 'px; transform:translateY(0)' : 'max-height:0px; transform:translateY(-10px)'"
              >
                {% if ingredients %}
                  <div class="pb-6 flex flex-col gap-3">
                    <p class="uppercase tracking-tight text-xs">
                      {{ ingredients.text }}
                    </p>

                    {% if ingredients.image %}
                      <div class="w-full border">
                        <img
                          src="{{ ingredients.image | image_url: width: 800 }}"
                          alt="Ingredients"
                          class="h-full w-full"
                          height=""
                          width=""
                        >
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="border-t border-[#DADADA]">
              <button
                type="button"
                @click="active = active === 'shipping' ? null : 'shipping'"
                class="w-full tracking-tight flex justify-between items-center py-3 md:text-sm text-xs transition-all duration-300 font-medium "
              >
                SHIPPING POLICY
                <span
                  class="transition-transform duration-300 font-medium"
                  :class="active === 'shipping' ? 'rotate-180' : ''"
                >
                  <img src="{{ 'downArrow-icon.svg' | asset_url }}" alt="Add" width="10" height="10">
                </span>
              </button>
              <div
                x-ref="shipping"
                class="overflow-hidden transition-all duration-500 ease-in-out"
                :style="active === 'shipping' ? 'max-height:' + $refs.shipping.scrollHeight + 'px; transform:translateY(0)' : 'max-height:0px; transform:translateY(-10px)'"
              >
                <div class="pb-6 pt-2 text-xs uppercase tracking-tight">{{ product.metafields.policies.shipping_policy }}</div>
              </div>
            </div>

            <div class="border-t border-[#DADADA]">
              <button
                type="button"
                @click="active = active === 'return' ? null : 'return'"
                class="w-full tracking-tight flex justify-between items-center py-3 md:text-sm text-xs transition-all duration-300 font-medium"
              >
                RETURN AND REFUND POLICY
                <span class="transition-transform duration-300" :class="active === 'return' ? 'rotate-180' : ''">
                  <img src="{{ 'downArrow-icon.svg' | asset_url }}" alt="Add" width="10" height="10">
                </span>
              </button>
              <div
                x-ref="return"
                class="overflow-hidden transition-all duration-500 ease-in-out"
                :style="active === 'return' ? 'max-height:' + $refs.return.scrollHeight + 'px; transform:translateY(0)' : 'max-height:0px; transform:translateY(-10px)'"
              >
                <div class="pb-6 pt-2 text-xs uppercase tracking-tight">{{ product.metafields.policies.refund_and_return_policy}}</div>
              </div>
            </div>
            <div class="border-t border-[#DADADA]">
              <h3 class="text-lg font-bold my-4 tracking-tight">FAQ</h3>
              {% if product.metafields.product.faq.value != blank %}
                {% for faq in product.metafields.product.faq.value %}
                  {% assign key = 'faq_' | append: forloop.index %}
                  <div class="border-t border-b border-[#DADADA]">
                    <button
                      type="button"
                      @click="active = active === '{{ key }}' ? null : '{{ key }}'"
                      class="w-full flex justify-between items-center pt-2 pb-3 md:text-sm text-xs transition-all duration-300 font-medium tracking-tight"
                    >
                      {{ faq.question }}
                      <span
                        class="transition-transform duration-300"
                        :class="active === '{{ key }}' ? 'rotate-180' : ''"
                      >
                        <img src="{{ 'downArrow-icon.svg' | asset_url }}" alt="Add" width="10" height="10">
                      </span>
                    </button>
                    <div
                      x-ref="{{ key }}"
                      class="overflow-hidden transition-all duration-500 ease-in-out uppercase"
                      :style="active === '{{ key }}' ? 'max-height:' + $refs['{{ key }}'].scrollHeight + 'px; opacity:1; transform:translateY(0)' : 'max-height:0px; opacity:0; transform:translateY(-10px)'"
                    >
                      <div class="pb-3 text-xs tracking-tight">{{ faq.answer | metafield_tag }}</div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>